*.iml
.idea
.gradle
/local.properties
.DS_Store
build/
/captures
.externalNativeBuild

# vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
org.eclipse.buildship.core.prefs
.project
.classpath